article-1{
    ul{
        li{
            text-decoration: none;
            list-style: none;
            font-size: 30px;
            font-weight: bold;
            margin-left: 50px;
            margin-right: 50px;
            text-align: justify;
        }
    }
    
} 
