@use './variables';

.section-1{
    .article-2{
        .parrafo{
            text-decoration: none;
            list-style: none;
            font-size: variables.$font-size;
            font-weight: bold;
            margin-left: 50px;
            margin-right: 50px;
            text-align: center;
        }     
    }
}


        
      


