@use './variables';
header{
    width: 100%;
    height: 100px;
    background-color: variables.$header-color;
    #navbarNav{
        text-align: center;
        z-index: 1;
    }
    navbar-brand{
        float:left;
        color: #08415C;
        font-size: 45px;
    }   
        &:hover {
            color: variables.$hover-color;
        }
        navbar-expand-lg{
            width: 70%;
            height: 70px;
            color: #E6F9AF;
        }     
        nav-link{
            font-size: 20px;
            text-decoration: none;
            font-family: cursive;
            letter-spacing: 1px;
            font-family: variables.$font-family;
            }
            &:hover {
                color:variables.$hover-color;
            }
}