main{
    margin: 0;
    border: 0;
    text-align: center;
    background: #f0cfda;
    section{
        margin: 50px;
        padding-bottom: 40px;
    }
        article-1{
            padding-bottom: 20px;
            font-size: 30px;
            div{
                font-size: 30px;
                background: #8aceb9;
                margin: 0;
                padding: 0;
                    p{
                        font-size: 20px;
                        display: inline-block;
                        white-space: pre-line;
                    }
                     
            }          
         
        }
        
    section-2{
        font-size: 25px;
        margin-bottom: 25px;
        text-align:center
    }
    article-2{
        display: flex;
        justify-content: center;
        background: #d9b2e9;
        margin: 0;
        padding: 20px;          
    }
}